:root {
    font-size: 14px;
    --bgcolor: #252525;
    --headerFont: 'Kelly Slab', cursive;
    --textFont: 'Roboto', sans-serif;
    --headerColor: #FFE400;
}

html, body {
	margin: 0;
	padding: 0;
	color: var(--headerColor);
}

.wrapper {
	background-color: var(--bgcolor);
	min-height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-areas: 
						"h h h h"
						"m m m m"
						"a a a a"
						;
	grid-template-rows: auto auto auto;
	overflow: hidden;
	padding: 5vw;
}

@media (orientation: landscape) {
	.wrapper {
		grid-template-areas: 
						"h h h h"
						"m m m a"
						;
		grid-template-rows: 1fr 5fr;
	}

	h2 {
		text-align: right;
	}

}

.header {
	grid-area: h;
	text-align: center;
}

.main {
	position: relative;
	grid-area: m;
	padding: 1vw;
	display: grid;
	align-items: center;
}

.invader {
	position: relative;
	z-index: 1;
	display: grid;
	grid-template-areas: 
						". . . . . . . . . . . . . . ."
						". . . . . . . . . . . . . . ."
						". . . . a1 . . . . . a2 . . . ."
						". . . . . b1 . . . b2 . . . . ."
						". . . . c1 c2 c3 c4 c5 c6 c7 . . . ."
						". . . d1 d2 . d3 d4 d5 e d6 d7 . . ."
						". . e1 e2 e3 e4 e5 e6 e7 e8 e9 e10 e11 . ."
						". . f1 . f2 f3 f4 f5 f6 f7 f8 . f9 . ."
						". . g1 . g2 . . . . . g3 . g4 . ."
						". . . . . h1 h2 . h3 h4 . . . . ."
						". . . . . . . . . . . . . . ."
						". . . . . . . . . . . . . . ."
						". . . . . . . . . . . . . . ."
						". . . . . . . . . . . . . . ."
						". . . . . . . . . . . . . . .";
	justify-content: center;
}

.invader_terminator {
	grid-template-areas: 
						". . . . . . . . . . . . . . ."
						". . . . . . . . . . . . . . ."
						". . . . a1 . . . . . a2 . . . ."
						". . . . . b1 . . . b2 . . . . ."
						". . g1 . c1 c2 c3 c4 c5 c6 c7 . . . ."
						". . f1 d1 d2 . d3 d4 d5 e d6 d7 . . ."
						". . e1 e2 e3 e4 e5 e6 e7 e8 e9 e10 e11 . ."
						". . . . f2 f3 f4 f5 f6 f7 f8 . f9 . ."
						". . . . g2 . . . . . g3 . g4 . ."
						". . . . . h1 h2 . h3 h4 . . . . ."
						". . . . . . . . . . . . . . ."
						". . . . . . . . . . . . . . ."
						". . . . . . . . . . . . . . ."
						". . . . . . . . . . . . . . ."
						". . . . . . . . . . . . . . .";
}

.invader_poo {
	animation: shake 0.5s linear, poo 4s steps(4) 1s;
}

@keyframes poo {
	100% {
		transform: translateX( -120% );
	}
}

@keyframes shake {
	10% {
		transform: translateX( -10% );
	}
	20% {
		transform: translateX( 10% );
	}
	35% {
		transform: translateX( -10% );
	}
	50% {
		transform: translateX( 10% );
	}
	65% {
		transform: translateX( -10% );
	}
	80%  {
		transform: translateX( 10% );
	}
	100% {
		transform: translateX( 0% );
	}
}

.poo {
	visibility: hidden;
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	width: 10vw;
	height: 10vw;
	transform: translate(-50%, -10%);
}

.eye {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: e;
}

.eye__inner {
	visibility: hidden;
	width: 0;
	height: 0;
	background-color: red;
	border-radius: 50%;
}

.eye_terminator {
	visibility: visible;
	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: linear;
	transition-delay: 0.5s;
	width: 75%;
	height: 75%;
}

.invader_runningL {
	transition-property: transform;
	transition-duration: 2s;
	transition-timing-function: ease-in-out;
	transform: translateX( -110% );
}

.invader_runningR {
	transition-property: transform;
	transition-duration: 2s;
	transition-timing-function: ease-in-out;
	transform: translateX( 90% );
}

.invader_el {
	display: flex;
	align-items: center;
	justify-content: center;
	outline: 1px solid #FFF5A2;
	background-color: gold;
	width: 5vw;
	height: 5vw;
}

@media (orientation: landscape) {
	.invader_el {
		width: 7vh;
		height: 7vh;
}
}

.invader_el:nth-child(1) {
	grid-area: a1;
}

.invader_el:nth-child(2) {
	grid-area: a2;
}

.invader_el:nth-child(3) {
	grid-area: b1;
}

.invader_el:nth-child(4) {
	grid-area: b2;
}

.invader_el:nth-child(5) {
	grid-area: c1;
}

.invader_el:nth-child(6) {
	grid-area: c2;
}

.invader_el:nth-child(7) {
	grid-area: c3;
}

.invader_el:nth-child(8) {
	grid-area: c4;
}

.invader_el:nth-child(9) {
	grid-area: c5;
}

.invader_el:nth-child(10) {
	grid-area: c6;
}

.invader_el:nth-child(11) {
	grid-area: c7;
}

.invader_el:nth-child(12) {
	grid-area: d1;
}

.invader_el:nth-child(13) {
	grid-area: d2;
}

.invader_el:nth-child(14) {
	grid-area: d3;
}

.invader_el:nth-child(15) {
	grid-area: d4;
}

.invader_el:nth-child(16) {
	grid-area: d5;
}

.invader_el:nth-child(17) {
	grid-area: d6;
}

.invader_el:nth-child(18) {
	grid-area: d7;
}

.invader_el:nth-child(19) {
	grid-area: e1;
}

.invader_el:nth-child(20) {
	grid-area: e2;
}

.invader_el:nth-child(21) {
	grid-area: e3;
}

.invader_el:nth-child(22) {
	grid-area: e4;
}

.invader_el:nth-child(23) {
	grid-area: e5;
}

.invader_el:nth-child(24) {
	grid-area: e6;
}

.invader_el:nth-child(25) {
	grid-area: e7;
}

.invader_el:nth-child(26) {
	grid-area: e8;
}

.invader_el:nth-child(27) {
	grid-area: e9;
}

.invader_el:nth-child(28) {
	grid-area: e10;
}

.invader_el:nth-child(29) {
	grid-area: e11;
}

.invader_el:nth-child(30) {
	grid-area: f1;
}

.invader_el:nth-child(31) {
	grid-area: f2;
}

.invader_el:nth-child(32) {
	grid-area: f3;
}

.invader_el:nth-child(33) {
	grid-area: f4;
}

.invader_el:nth-child(34) {
	grid-area: f5;
}

.invader_el:nth-child(35) {
	grid-area: f6;
}

.invader_el:nth-child(36) {
	grid-area: f7;
}

.invader_el:nth-child(37) {
	grid-area: f8;
}

.invader_el:nth-child(38) {
	grid-area: f9;
}

.invader_el:nth-child(39) {
	grid-area: g1;
}

.invader_el:nth-child(40) {
	grid-area: g2;
}

.invader_el:nth-child(41) {
	grid-area: g3;
}

.invader_el:nth-child(42) {
	grid-area: g4;
}

.invader_el:nth-child(43) {
	grid-area: h1;
}

.invader_el:nth-child(44) {
	grid-area: h2;
}

.invader_el:nth-child(45) {
	grid-area: h3;
}

.invader_el:nth-child(46) {
	grid-area: h4;
}

.aside {
	background-color: var(--bgcolor);
	position: relative;
	z-index: 2;
	grid-area: a;
}

h1 {
	font-family: var(--headerFont);
}

h2 {
	font-size: 1.5rem;
	font-family: var(--textFont);
	text-align: center;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.perks {
	font-family: var(--headerFont);
	display: grid;
	grid-template-areas: 
						" aa bb "
	;
	grid-auto-rows: auto;
	padding: 0 5vw;
}

@media (orientation: landscape) {
	.perks {
		grid-template-areas: " aa";
	}

	.perks__name {
		margin: 0.5rem 0 0 0;
		font-size: 1.2rem;
	}

	.perks__desc {
		margin-top: 0.5rem;
	}
}

.perks__name {
}

.perks__desc {
	font-style: italic;
	color: #FFF5A2;
}

.perks__desc::before {
	content: '(';
}

.perks__desc::after {
	content: ')';
}

.fa-star {
	visibility: hidden;
	position: relative;
	z-index: 2;
	font-size: 0;
	color: #DB1B18;
}

.fa-star_animated {
	visibility: visible;
	animation-name: gunfire;
	animation-delay: 0;
	animation-duration: 0.7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 3;
}

@keyframes gunfire {
	0% {
		font-size: 0;
	}
	50% {
		color: orange;
	}
	100% {
		font-size: 8vw;
		color: #DB1B18;
	}

}